/*
*{
  border: 3px solid rgb(0, 0, 0);
} */

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container *{
  width: 100%;
  margin-bottom: 10px;
}

app-header{
margin-bottom: 0px !important;
}
