.container{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.action-container{
  background-color: transparent;
  box-shadow: 5px 5px 5px 0px grey;
  width: 70%;
  border-bottom: 2px solid black;
  border-radius: 13px 13px 0px 0px;
  margin-bottom: 0px;
}

.action{
  display: flex;
  flex-direction: row;
 justify-content: space-around;
}

@media screen and (max-width: 780px) {
  .action-container {
 width: 98%;
  }
}


